.header
  .container
    .pull-left
      = link_to '#', class: 'logo' do
        = image_tag 'logo-white.png'

    .pull-right
      %ul.nav
        %li= link_to 'Home', '#', class: 'active'
        %li= link_to 'Menu', '#'
        %li= link_to 'Contact', '#'
    .bottom
      %h1 Your Breakfast, Lunch, and Dinner Destination!
      %h2 
        %i.glyphicon.glyphicon-earphone
        %strong 219-931-7000 
        &mdash; Hammond, IN

.container
  .content
    .row
      .col-xs-9
        %p 
          = image_tag 'left.png', class: 'pull-left left'
          Traveling is a hassle, whether you are looking for a place to stay on holiday or are looking for a place to stay on a business trip. Traveling becomes more complicated if you do not have access to a personal vehicle, or do not feel like taking cabs everywhere you need to go. If you unfamiliar with the city or town you are staying in, this merely compounds the issue, which is why Johnel’s Restaurant is please to provide all of the basic services that our customers need when they are staying in our towns.
        %p Johnel’s Restaurant is a universal restaurant with a menu that will appeal to any palette as well as satisfy even the pickiest of clients. We have conveniently aligned ourselves with one of the nicest hotels in Hammond, IN and are open for business every day of the week. We will serve our patrons on holidays, in awful weather and throughout the year, providing you are a guest of the Ramada Inn, Hammond, IN.
        %h1 Great food and atmosphere at Johnel's!
        = image_tag 'right.png', class: 'pull-right right'
        %p We cater to individuals and families, and have an entire selection of our menu oriented directly for children who are not able to eat adult food, have allergies, or whose parents do not want to spoil them with large and rich foods. As a hotel restaurant we are used to catering to those with special dietary needs, and since hotels with restaurants in them create such diverse traffic, we are proud to offer a flexible kitchen staff that will accommodate your needs completely.
        %p While many restaurant menus are utterly lacking in variety and creativity. Johnel's Restaurant menu will tickle your fancy and attract your attention through its design and variety of selection. When you are looking for a restaurant in the Chicagoland area, remember Johnel’s Restaurant.
      .col-xs-3
